<!DOCTYPE html>
<html>
    <head>
        <title>Hendrik Müller - Portfolio</title>
        <meta charset="UTF-8" />
        <meta name="author" content="Hendrik Müller" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/static/index.css" />
    </head>
    <body style="display: flex">
        <div class="card-container">
            {% for project in projects %}
            <div class="card" onclick="window.location = '{{ project.url }}';">
                <h1 class="card-title">{{ project.title }}</h1>
                <p class="card-content">
                    {{ project.short_description }}
                </p>
            </div>
            {% endfor %}
        </div>
    </body>
</html>
